#hero {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    background-image: url(../images/goodjob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(44, 44, 44);
    background-blend-mode: overlay;
    background-attachment: fixed;
    padding: 0;
}

.hero .wrap {
    position: relative;
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin: auto;
}

.hero .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2rem;
    top: 50%;
    transition: all 0.3s ease-in-out;
    padding: 5px;
    z-index: 2;
}

.hero .arrow:before {
    cursor: pointer;
}

.hero .arrow:hover {
    color: #7ed2e5;
}

.hero .arrow.left {
    left: 10px;
}

.hero .arrow.right {
    right: 10px;
}

.hero .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    display: block;
    z-index: 1;
    height: 12px;
    padding-inline-start: 0;
}

.hero .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.hero .dots .dot.active,
.hero .dots .dot:hover {
    background: #fff;
    border-color: #fff;
}

.hero .dots .dot.active {
    animation: hero-scale 0.5s ease-in-out forwards;
}

.hero-content {
    position: relative;
    overflow: hidden;
    height: 85vh;
}

.hero-content > div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    opacity: 0;
}

.hero-content > div.inactive {
    opacity: 0;
    animation: hero-hide 0.5s ease-in-out forwards;
}

.hero-content > div.active {
    position: relative;
    opacity: 1;
    animation: hero-show 0.5s ease-in-out forwards;
}

.hero-content div.active .slogan {
    animation: hero-content-in 0.5s ease-in-out forwards;
}

.hero-content div.inactive .slogan {
    animation: hero-content-out 0.5s ease-in-out forwards;
}

.hero-pages {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#page1 {
    background-image: url(../images/1.jpg);
    background-position-x: 10%;
}

#page2 {
    background-position-x: 70%;
    background-image: url(../images/2.jpg);
}

#page3 {
    background-position-x: 70%;
    background-image: url(../images/3.jpg);
}

.slogan {
    margin-bottom: 3rem;
    color: white;
    font-family: "Avenir Next Rounded", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 550;
    text-shadow: 0.3px 0 0 #000, 0 -0.3px 0 #000, 0 0.3px 0 #000, -0.3px 0 0 #000;
}
/* Animations: start */
@keyframes hero-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes hero-content-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hero-content-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes hero-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hero-hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/* Animations: end */
